@using Library.Models.DTO
@using Library.Models.Entities
@model List<EditUserRequest>
@{
    ViewData["Title"] = "Адміністрування таблиць";
}

<div class="text-center">
    <h2>Засоби адміністрування</h2>
    <h3>Перелік корстувачів</h3>
</div>
<a asp-action="Index" class="btn btn-primary mb-2">Повренутись назад</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Логін</th>
            <th>Емейл</th>
            <th>Пароль</th>
            <th>Роль</th>
            <th>Стать</th>
            <th class="col-2">Дії</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.UserId
                </td>
                <td>
                    @user.Login
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    @user.Password
                </td>
                <td>
                    @switch(user.Role){
                        case Roles.Owner:
                            <span>Власник</span>
                            break;
                        case Roles.Administrator:
                            <span>Адміністратор</span>
                            break;
                        case Roles.Operator:
                            <span>Оператор</span>
                            break;
                        case Roles.Default:
                            <span>Гість</span>
                            break;
                    }
                </td>
                <td>
                    @switch(user.Gender){
                        case Gender.Male:
                            <span>Чоловік</span>
                            break;
                        case Gender.Female:
                            <span>Жінка</span>
                            break;
                    }
                </td>

                <td class="d-flex" >
                    <!-- Delete user button -->
                    <form asp-action="DeleteUser" method="post" style="display:inline;" id="deleteUserForm_@user.UserId">
                        <input type="hidden" name="userId" value="@user.UserId" form="deleteUserForm_@user.UserId" />
                        <input type="submit" class="btn btn-danger" value="Видалити" disabled=@(user.Role == Roles.Owner) form="deleteUserForm_@user.UserId" />
                    </form>
                    <!-- Edit user button -->
                    <a class="btn btn-primary ms-1" asp-action="EditUser" asp-route-userId="@user.UserId">Редагувати</a>
                </td>
            </tr>
        }
    </tbody>
</table>
