@using Library.Models.Entities
@model Library.Models.Entities.Product

@{
    ViewData["Title"] = "Оновити продукт";
}

<h2>Оновити книгу або диск</h2>

<form asp-action="Update">
    <input type="hidden" asp-for="ProductId" />

    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    @if (Model.Book != null)
    {
        <div class="form-group">
            <label asp-for="Book.Author" class="control-label">Автор</label>
            <input asp-for="Book.Author" class="form-control" />
            <span asp-validation-for="Book.Author" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="Book.Genre" class="control-label">Жанр</label>
            <select asp-for="Book.Genre" class="form-control">
                @foreach (var genre in Enum.GetValues(typeof(BookGenre)))
                {
                    <option value="@genre">@genre</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Book.PublicationYear" class="control-label">Рік видання</label>
            <input asp-for="Book.PublicationYear" class="form-control" />
            <span asp-validation-for="Book.PublicationYear" class="text-danger"></span>
        </div>
    }
    else if (Model.Disc != null)
    {
        <div class="form-group">
            <label asp-for="Disc.Format" class="control-label">Формат</label>
            <select asp-for="Disc.Format" class="form-control">
                @foreach (var format in Enum.GetValues(typeof(DiscFormat)))
                {
                    <option value="@format">@format</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Disc.DiscType" class="control-label">Тип диску</label>
            <select asp-for="Disc.DiscType" class="form-control">
                @foreach (var discType in Enum.GetValues(typeof(DiscType)))
                {
                    <option value="@discType">@discType</option>
                }
            </select>
        </div>

        @if (Model.Disc.Movie != null)
        {
            <div class="form-group">
                <label asp-for="Disc.Movie.Director" class="control-label">Режисер</label>
                <input asp-for="Disc.Movie.Director" class="form-control" />
                <span asp-validation-for="Disc.Movie.Director" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Disc.Movie.Duration" class="control-label">Тривалість</label>
                <input asp-for="Disc.Movie.Duration" class="form-control" />
                <span asp-validation-for="Disc.Movie.Duration" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Disc.Movie.Genre" class="control-label">Жанр фільму</label>
                <select asp-for="Disc.Movie.Genre" class="form-control">
                    @foreach (var genre in Enum.GetValues(typeof(MovieGenre)))
                    {
                        <option value="@genre">@genre</option>
                    }
                </select>
            </div>
        }
        else if (Model.Disc.Music != null)
        {
            <div class="form-group">
                <label asp-for="Disc.Music.Artist" class="control-label">Артист</label>
                <input asp-for="Disc.Music.Artist" class="form-control" />
                <span asp-validation-for="Disc.Music.Artist" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Disc.Music.Genre" class="control-label">Жанр музики</label>
                <select asp-for="Disc.Music.Genre" class="form-control">
                    @foreach (var genre in Enum.GetValues(typeof(MusicGenre)))
                    {
                        <option value="@genre">@genre</option>
                    }
                </select>
            </div>
        }
        else if (Model.Disc.Game != null)
        {
            <div class="form-group">
                <label asp-for="Disc.Game.Developer" class="control-label">Розробник</label>
                <input asp-for="Disc.Game.Developer" class="form-control" />
                <span asp-validation-for="Disc.Game.Developer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Disc.Game.Genre" class="control-label">Жанр гри</label>
                <select asp-for="Disc.Game.Genre" class="form-control">
                    @foreach (var genre in Enum.GetValues(typeof(GameGenre)))
                    {
                        <option value="@genre">@genre</option>
                    }
                </select>
            </div>
        }
    }

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Оновити</button>
    </div>
</form>
